body {
    margin: 0;
    background: #A9CC66;
}

.fxd {
    position: fixed;
}

.game {
    z-index: 0;
}

.grid {
    z-index: 1;
}

.pane {
    z-index: 2;
    font-family: sans-serif;
    background: #FDE792;
    color: #5A1F00;
}

.pane-header {

    text-align: center;
}

.tab {
    width: 50%;
    float: left;
    position: relative;
      border-top: 2px solid #5A1F00;
  border-left: 2px solid #5A1F00;
  border-right: 2px solid #5A1F00;
}

.tab-active {
    width: 49%;
    float: right;
    position: relative;
    border-bottom: 2px solid #5A1F00;
}

/*.tab:before {
  content : "";
  position: absolute;
  left    : 0;
  bottom  : 0;
  height  : 100%;
  width   : 100%;
  border-top: 2px solid #5A1F00;
  border-left: 2px solid #5A1F00;
  border-right: 2px solid #5A1F00;
}*/
